@charset "UTF-8";

/*mobile first*/

:root{
    --fonte-exp:"Cinzel", serif;
    --cor1:#62f7e8;
    --cor2:#14c2c2;
    --cor3:#028796;
    --cor4:#005171;
    --cor5:#022b4e;
}

*{
    margin: 0px;
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor5);
    
    
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 400px;
    height: 520px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);

    /* transition: width .3s, height .3s ;
    transition-timing-function: ease;  */
    transform: translate(-50%, -50%);  
    
}

section#login > div#imagem{
    background: url(../imagens/pexels-julieaagaard-1426718.jpg);
    width: 400px;
    height: 200px;
    background-size: cover;
    
}

section#login > div#formulario > h1{
    text-align: center;
    padding: 20px;
    font-family: var(--fonte-exp);
}

#formulario > h1:hover{
    color: rgb(0, 12, 104);
    transition-duration: .6s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    text-shadow: 3px 3px rgba(0, 0, 0, 0.434);

    }

section#login > div#formulario > p{
    text-align: center;
    font-size: 1em;

}

form> div.campo{
    background-color: var(--cor3);
    border: 1px solid var(--cor3);
    width: 87%;
    height: 40px;
    display: block;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;

}

form > div.campo > input{
   width: 91.9%; 
   height: 38px;
   margin-left: 40px;
   background-color: var(--cor1);
   border-radius: 15px;
   
}
div.campo{
    position: relative;
    display: flex;
    align-items: center;
}
div.campo > label {
    display: none;
}

form > div.campo > span{
    background-color: rgba(0, 0, 0, 0.029);
    color: white;
    position: absolute;
    width: 40px;
    padding: 5px;
    position: absolute;
    left: 0;
    top: 0;
    
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    width: 90%;
    height: 35px;
    margin: 10px 20px 8px 20px;
    border-radius: 5px;
    background-color: var(--cor3);
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.364);
}

form > input[type=submit]:active{
    background-color: var(--cor2);
}

form > a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    background-color: #14c2c25f;
    color: #022b4e;
    width: 90%;
    height: 40px;
    padding-top: 7px;
    margin: auto;
    border-radius: 10px;
    border: 2px solid var(--cor3);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.355);
    

}

form > a.botao:active{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    background-color: var(--cor3);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.463);
}